---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ListTags from "../../components/ListTags.vue";
import { type CollectionPosts } from "../../types";
import { getAllPosts, getPosts } from "../../utils/posts";
import PostCounter from "../../components/PostCounter.vue";

export const prerender = true;
export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

type Props = { post: CollectionPosts };

const { post } = Astro.props;

if (post === undefined) {
  return new Response(JSON.stringify(await getAllPosts()));
}

const allPosts = (await getPosts('blog')) as any[];
let next = undefined as any;
const postIndex = allPosts.findIndex(
  (p) => p.slug === post.slug,
);
if (postIndex >= allPosts.length - 1 || postIndex < 0) {
  next = {
    collection: post.collection,
    slug: allPosts[0]?.slug,
  };
} else {
  next = {
    collection: post.collection,
    slug: allPosts[postIndex + 1]?.slug,
  };
}


const { title, image, description, date, tags, location } = post.data;
const { Content } = await post.render();
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  pageType="article"
  pageOperate={true}
  comments={true}
  tags={tags}
  next={next}
>
  <article class="mb-8 sm:mb-12">
    <header class="mb-8">
      <h1 class="text-title">
        {title}
      </h1>
      <div class="flex items-center gap-2 text-main text-gray-400 mt-4 flex-wrap">
        <div class="flex-none">{date}</div>
        {
          location && (
            <div class="flex gap-1 items-center">
              <div>·</div>
              <div class="flex-none">{location}</div>
            </div>
          )
        }
        {
          tags?.length && (
            <div class="flex gap-1 items-center">
              <div>·</div>
              <ListTags tags={tags} />
            </div>
          )
        }
      </div>
    </header>
    <PostCounter
      type={"blog"}
      slug={post?.slug}
      client:load
    />
    <div class="max-w-none prose">
      <Content />
    </div>
  </article>
</BaseLayout>
