---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { type CollectionPosts } from "../../types";
import { getAllPosts } from "../../utils/posts";
import PostCounter from "../../components/PostCounter.vue";

export const prerender = true;
export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map((post) => ({
    params: { slug: (post as any).slug },
    props: {
      post,
    },
  }));
}

type Props = { post: CollectionPosts };

const { post } = Astro.props;

if (post === undefined) {
  return new Response(JSON.stringify(await getAllPosts()));
}

const basePath = "https://boristane.com";

// const res = await fetch(`${basePath}/api/views/talk/${(post as any).slug}`, {
//   method: "GET",
// });

// const views = ((await res.json()) as any)?.data?.views;

const { title, image, description } = (post as any).data;
const { Content } = await (post as any).render();
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  pageType="article"
  pageOperate={true}
>
  <article class="mb-16 sm:mb-24">
    <header class="mb-8">
      <h1 class="text-title">
        {title}
      </h1>
    </header>
    <PostCounter
      type={"talk"}
      slug={post?.slug}
      count={ 0}
      client:load
    />
    <div class="max-w-none prose">
      <Content />
    </div>
  </article>
</BaseLayout>
